# Exploring Ebay's Car Sale Data

In this guided project, we'll work with a dataset of used cars from eBay Kleinanzeigen, a [classifieds](https://en.wikipedia.org/wiki/Classified_advertising) section of the German eBay website.

The dataset was originally [scraped](https://en.wikipedia.org/wiki/Web_scraping) and uploaded to Kaggle by user [orgesleka](https://www.kaggle.com/orgesleka).
The original dataset isn't available on Kaggle anymore, but you can find it [here](https://data.world/data-society/used-cars-data).



The data dictionary provided with data is as follows:

- `dateCrawled` - When this ad was first crawled. All field-values are taken from this date.
- `name` - Name of the car.
- `seller` - Whether the seller is private or a dealer.
- `offerType` - The type of listing
- `price` - The price on the ad to sell the car.
- `abtest` - Whether the listing is included in an A/B test.
- `vehicleType` - The vehicle Type.
- `yearOfRegistration` - The year in which the car was first registered.
- `gearbox` - The transmission type.
- `powerPS` - The power of the car in PS.
- `model` - The car model name.
- `kilometer` - How many kilometers the car has driven.
- `monthOfRegistration` - The month in which the car was first registered.
- `fuelType` - What type of fuel the car uses.
- `brand` - The brand of the car.
- `notRepairedDamage` - If the car has a damage which is not yet repaired.
- `dateCreated` - The date on which the eBay listing was created.
- `nrOfPictures` - The number of pictures in the ad.
- `postalCode` - The postal code for the location of the vehicle.
- `lastSeenOnline` - When the crawler saw this ad last online.

The aim of this project is to clean the data and carry out some analysis. 

Let's start by importing the libraries we need and reading the dataset into pandas.

In [1]:
import numpy as np
import pandas as pd

In [2]:
autos = pd.read_csv('autos.csv', encoding = 'Latin-1')

Now that we have succesfully read-in the data, we'll go ahead to explore it briefly to get a general idea of what the data contains and what each column is like.

In [3]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [4]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [5]:
autos.shape

(50000, 20)

From the mini-exploration above the following are immediately apparent:

- The data set contains 50000 entries.
- The column names are in camel case instead of python's preferred snakecase.
- No column contains an intolerable(~20%) amount of missing data.

## Data Cleaning

We are going to first change the column names from camel-casing to snake-casing. This is the preferred style in python and it also allows for better readability.

In [6]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [7]:
# Create a dictionary of all the column names as keys and the preferreed name as value.
new_column_names = {
    'dateCrawled' : 'date_crawled', 
    'name' : 'name', 
    'seller': 'seller', 
    'offerType' : 'offer_type', 
    'price' : 'price', 
    'abtest' : 'ab_test',
    'vehicleType' : 'vehicle_type', 
    'yearOfRegistration' : 'registration_year',
    'gearbox' : 'gear_box', 
    'powerPS' : 'power_ps', 
    'model' : 'model',
    'odometer' : 'odometer', 
    'monthOfRegistration' : 'registration_month',
    'fuelType' : 'fuel_type', 
    'brand' : 'brand',
    'notRepairedDamage' : 'unrepaired_damage',
    'dateCreated' : 'ad_created',
    'nrOfPictures' : 'num_of_pictures', 
    'postalCode' : 'postal_code',
    'lastSeen' : 'last_seen'
}

In [8]:
autos.columns = autos.columns.map(new_column_names)

In [9]:
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gear_box', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'num_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

In [10]:
autos.head()

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gear_box,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,num_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

Now that we have fixed the column names, we are going to inspect the dataframe further to determine which columns need further cleaning.

In [11]:
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gear_box,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,num_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-10 15:36:24,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [12]:
autos.seller.value_counts()

privat        49999
gewerblich        1
Name: seller, dtype: int64

In [13]:
autos.offer_type.value_counts()

Angebot    49999
Gesuch         1
Name: offer_type, dtype: int64

In [14]:
autos.ab_test.value_counts()

test       25756
control    24244
Name: ab_test, dtype: int64

In [15]:
autos.gear_box.value_counts()

manuell      36993
automatik    10327
Name: gear_box, dtype: int64

In [16]:
autos.unrepaired_damage.value_counts()

nein    35232
ja       4939
Name: unrepaired_damage, dtype: int64

In [17]:
autos.num_of_pictures.value_counts()

0    50000
Name: num_of_pictures, dtype: int64

The following are apparent from the cells above:

- The following columns adds nothing to the analysis and can be dropped : `num_of_pictures`, `seller`, `offer_type`
- The price and odometer columns need to me converted to numeric values
- Certain data needs to be converted from Deutsch to English
- Several columns need evaluation because of the presence of outliers

## Dropping Unecessary Columns

In [18]:
print(len(autos.columns))
autos = autos.drop(['num_of_pictures', 'seller', 'offer_type'], axis=1)
len(autos.columns)

20

17

##  Converting Columns to Desired Data Type

The price & odometer columns are of the object data type. In the next few cells we are going to convert them to numeric data types.

In [19]:
autos['price']

0         $5,000
1         $8,500
2         $8,990
3         $4,350
4         $1,350
          ...
49995    $24,900
49996     $1,980
49997    $13,200
49998    $22,900
49999     $1,250
Name: price, Length: 50000, dtype: object

In [20]:
autos.price.sample(10) # To take random samples of the data to find out if any data is in a different format

11988     $2,200
7538     $12,950
17522       $299
28256         $0
13952     $3,300
15911     $1,950
21268     $2,490
45031     $1,900
21646       $850
26630     $2,480
Name: price, dtype: object

In [21]:
# Cheking if we have any deviant formats in the price column
deviant = []
for item in autos.price:
    if item[0] != '$':
        deviant.append(item)
        
print(deviant)

[]

In [22]:
autos['price'] = autos['price'].str.replace('$', '') # remove all dollar signs
autos['price'] = autos['price'].str.replace(',', '')# remove all commas

In [23]:
autos.price = autos['price'].astype('int') #convert data type to integer

In [24]:
autos['price']

0         5000
1         8500
2         8990
3         4350
4         1350
         ...
49995    24900
49996     1980
49997    13200
49998    22900
49999     1250
Name: price, Length: 50000, dtype: int64

In [25]:
autos.odometer

0        150,000km
1        150,000km
2         70,000km
3         70,000km
4        150,000km
           ...
49995    100,000km
49996    150,000km
49997      5,000km
49998     40,000km
49999    150,000km
Name: odometer, Length: 50000, dtype: object

In [26]:
autos.odometer.sample(10)

666      150,000km
37867    150,000km
32297     40,000km
49865      5,000km
4781     150,000km
45838    150,000km
11979     80,000km
20107    150,000km
37644    150,000km
10465     80,000km
Name: odometer, dtype: object

In [27]:
autos['odometer'] = autos['odometer'].str.replace('km', '')
autos['odometer'] = autos['odometer'].str.replace(',', '')

In [28]:
autos.odometer = autos.odometer.astype('int')

In [29]:
autos.odometer

0        150000
1        150000
2         70000
3         70000
4        150000
          ...
49995    100000
49996    150000
49997      5000
49998     40000
49999    150000
Name: odometer, Length: 50000, dtype: int64

In [30]:
#so that the odometer column doesnt lose meaning, we will rename the column
autos.rename({'odometer':'odometer_km'}, axis = 1, inplace = True)

In [31]:
autos.columns

Index(['date_crawled', 'name', 'price', 'ab_test', 'vehicle_type',
       'registration_year', 'gear_box', 'power_ps', 'model', 'odometer_km',
       'registration_month', 'fuel_type', 'brand', 'unrepaired_damage',
       'ad_created', 'postal_code', 'last_seen'],
      dtype='object')

## Removing Outliers

In [32]:
autos.describe(include='all')

,date_crawled,name,price,ab_test,vehicle_type,registration_year,gear_box,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen
count,50000,50000,5.000000e+04,50000,44905,50000.000000,47320,50000.000000,47242,50000.000000,50000.000000,45518,50000,40171,50000,50000.000000,50000
unique,48213,38754,NaN,2,8,NaN,2,NaN,245,NaN,NaN,7,40,2,76,NaN,39481
top,2016-03-10 15:36:24,Ford_Fiesta,NaN,test,limousine,NaN,manuell,NaN,golf,NaN,NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,2016-04-07 06:17:27
freq,3,78,NaN,25756,12859,NaN,36993,NaN,4024,NaN,NaN,30107,10687,35232,1946,NaN,8
mean,NaN,NaN,9.840044e+03,NaN,NaN,2005.073280,NaN,116.355920,NaN,125732.700000,5.723360,NaN,NaN,NaN,NaN,50813.627300,NaN
std,NaN,NaN,4.811044e+05,NaN,NaN,105.712813,NaN,209.216627,NaN,40042.211706,3.711984,NaN,NaN,NaN,NaN,25779.747957,NaN
min,NaN,NaN,0.000000e+00,NaN,NaN,1000.000000,NaN,0.000000,NaN,5000.000000,0.000000,NaN,NaN,NaN,NaN,1067.000000,NaN
25%,NaN,NaN,1.100000e+03,NaN,NaN,1999.000000,NaN,70.000000,NaN,125000.000000,3.000000,NaN,NaN,NaN,NaN,30451.000000,NaN
50%,NaN,NaN,2.950000e+03,NaN,NaN,2003.000000,NaN,105.000000,NaN,150000.000000,6.000000,NaN,NaN,NaN,NaN,49577.000000,NaN
75%,NaN,NaN,7.200000e+03,NaN,NaN,2008.000000,NaN,150.000000,NaN,150000.000000,9.000000,NaN,NaN,NaN,NaN,71540.000000,NaN
max,NaN,NaN,1.000000e+08,NaN,NaN,9999.000000,NaN,17700.000000,NaN,150000.000000,12.000000,NaN,NaN,NaN,NaN,99998.000000,NaN

Certain columns have outliers such as: `price` and the `odometer` column deserves a closer look e.t.c. These appear to be the largest groups so i'll clean the dataframe against these columns and inspect again.

In [33]:
autos.price.unique().shape

(2357,)

In [34]:
autos.price.value_counts().sort_index().head(20)

0     1421
1      156
2        3
3        1
5        2
8        1
9        1
10       7
11       2
12       3
13       2
14       1
15       2
17       3
18       1
20       4
25       5
29       1
30       7
35       1
Name: price, dtype: int64

In [35]:
autos.price.value_counts().sort_index(ascending = False).head(20)

99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
3890000     1
1300000     1
1234566     1
999999      2
999990      1
350000      1
345000      1
299000      1
295000      1
265000      1
259000      1
250000      1
220000      1
198000      1
197000      1
Name: price, dtype: int64

Looking at the values above and combining my findings with a quick google search, the following became apparent:

- Many cars are given off for free and can be sold at no cost or ridiculously cheap thus we'd keep the small values
- The max values seem to increase gradually up to about 350000 dollars after which prices began doubling. Only few cars have those extremes of values thus it is safe to remove everything above 350000 dollars.

In [36]:
print(autos.shape)
autos = autos.loc[autos['price'].between(0, 350000 )]
print(autos.shape)

(50000, 17)
(49986, 17)

In [37]:
autos.odometer_km.unique().shape

(13,)

In [38]:
autos.odometer_km.describe()

count     49986.000000
mean     125736.506222
std       40038.133399
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [39]:
autos.odometer_km.value_counts()

150000    32416
125000     5169
100000     2168
90000      1757
80000      1436
70000      1230
60000      1164
50000      1025
5000        966
40000       818
30000       789
20000       784
10000       264
Name: odometer_km, dtype: int64

The `odometer` columns looks good and doesnt appear to need further cleaning. Something to consider is checking the year of registration against the odometer column to see if they match i.e the car did not cover a ridiculous amount of distance in a ridiculous amount of time(short time).

## Working With Dates

They are presented in the dataset as follows:

- date_crawled
- registration_month
- registration_year
- ad_created
- last_seen

In [40]:
autos[['date_crawled','last_seen',
      'ad_created','registration_month',
      'registration_year']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49986 entries, 0 to 49999
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date_crawled        49986 non-null  object
 1   last_seen           49986 non-null  object
 2   ad_created          49986 non-null  object
 3   registration_month  49986 non-null  int64
 4   registration_year   49986 non-null  int64
dtypes: int64(2), object(3)
memory usage: 2.3+ MB

The following columns `registration_month` and `registration_year` are all represented with integers, while `date_crawled`, `last_seen` and `ad_created` are represented with strings.

Let us now explore the columns represented with strings.

In [41]:
autos[['date_crawled','ad_created','last_seen']][0:5]

          date_crawled           ad_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

You'll notice that the first 10 characters represent the day (e.g. 2016-03-12). To understand the date range, we can extract just the date values, use `Series.value_counts()` to generate a distribution, and then sort by the index.

In [42]:
autos['date_crawled'].str[:10].value_counts(normalize=True,dropna=False).sort_index()

2016-03-05    0.025387
2016-03-06    0.013944
2016-03-07    0.035970
2016-03-08    0.033269
2016-03-09    0.033209
2016-03-10    0.032129
2016-03-11    0.032489
2016-03-12    0.036770
2016-03-13    0.015564
2016-03-14    0.036630
2016-03-15    0.033990
2016-03-16    0.029508
2016-03-17    0.031509
2016-03-18    0.013064
2016-03-19    0.034910
2016-03-20    0.037831
2016-03-21    0.037490
2016-03-22    0.032909
2016-03-23    0.032389
2016-03-24    0.029108
2016-03-25    0.031749
2016-03-26    0.032489
2016-03-27    0.031049
2016-03-28    0.034850
2016-03-29    0.034150
2016-03-30    0.033629
2016-03-31    0.031909
2016-04-01    0.033809
2016-04-02    0.035410
2016-04-03    0.038691
2016-04-04    0.036490
2016-04-05    0.013104
2016-04-06    0.003181
2016-04-07    0.001420
Name: date_crawled, dtype: float64

In [43]:
pd.set_option('display.max_rows', 100)
autos['ad_created'].str[:10].value_counts(normalize=True, dropna=False).sort_index()

2015-06-11    0.000020
2015-08-10    0.000020
2015-09-09    0.000020
2015-11-10    0.000020
2015-12-05    0.000020
2015-12-30    0.000020
2016-01-03    0.000020
2016-01-07    0.000020
2016-01-10    0.000040
2016-01-13    0.000020
2016-01-14    0.000020
2016-01-16    0.000020
2016-01-22    0.000020
2016-01-27    0.000060
2016-01-29    0.000020
2016-02-01    0.000020
2016-02-02    0.000040
2016-02-05    0.000040
2016-02-07    0.000020
2016-02-08    0.000020
2016-02-09    0.000040
2016-02-11    0.000020
2016-02-12    0.000060
2016-02-14    0.000040
2016-02-16    0.000020
2016-02-17    0.000020
2016-02-18    0.000040
2016-02-19    0.000060
2016-02-20    0.000040
2016-02-21    0.000060
2016-02-22    0.000020
2016-02-23    0.000080
2016-02-24    0.000040
2016-02-25    0.000060
2016-02-26    0.000040
2016-02-27    0.000120
2016-02-28    0.000200
2016-02-29    0.000160
2016-03-01    0.000100
2016-03-02    0.000100
2016-03-03    0.000860
2016-03-04    0.001440
2016-03-05    0.023046
2016-03-06    0.015124
2016-03-07    0.034750
2016-03-08    0.033309
2016-03-09    0.033229
2016-03-10    0.031869
2016-03-11    0.032789
2016-03-12    0.036610
2016-03-13    0.016925
2016-03-14    0.035230
2016-03-15    0.033749
2016-03-16    0.030008
2016-03-17    0.031189
2016-03-18    0.013724
2016-03-19    0.033849
2016-03-20    0.037871
2016-03-21    0.037691
2016-03-22    0.032769
2016-03-23    0.032189
2016-03-24    0.029088
2016-03-25    0.031889
2016-03-26    0.032569
2016-03-27    0.030909
2016-03-28    0.034970
2016-03-29    0.034110
2016-03-30    0.033449
2016-03-31    0.031909
2016-04-01    0.033809
2016-04-02    0.035090
2016-04-03    0.038931
2016-04-04    0.036850
2016-04-05    0.011843
2016-04-06    0.003261
2016-04-07    0.001280
Name: ad_created, dtype: float64

In [44]:
pd.reset_option('display.max_rows')
autos['last_seen'].str[:10].value_counts(normalize=True,dropna=False).sort_index()

2016-03-05    0.001080
2016-03-06    0.004421
2016-03-07    0.005362
2016-03-08    0.007582
2016-03-09    0.009843
2016-03-10    0.010763
2016-03-11    0.012524
2016-03-12    0.023807
2016-03-13    0.008983
2016-03-14    0.012804
2016-03-15    0.015884
2016-03-16    0.016445
2016-03-17    0.027928
2016-03-18    0.007422
2016-03-19    0.015744
2016-03-20    0.020706
2016-03-21    0.020726
2016-03-22    0.021586
2016-03-23    0.018585
2016-03-24    0.019565
2016-03-25    0.019205
2016-03-26    0.016965
2016-03-27    0.016024
2016-03-28    0.020846
2016-03-29    0.022326
2016-03-30    0.024847
2016-03-31    0.023827
2016-04-01    0.023106
2016-04-02    0.024887
2016-04-03    0.025367
2016-04-04    0.024627
2016-04-05    0.124275
2016-04-06    0.220982
2016-04-07    0.130957
Name: last_seen, dtype: float64

The data above appears to be largely unremarkable. Next we'll look at the `registration_year` column.

In [45]:
autos.registration_year.value_counts().sort_index().head(20)

1000    1
1001    1
1111    1
1500    1
1800    2
1910    9
1927    1
1929    1
1931    1
1934    2
1937    4
1938    1
1939    1
1941    2
1943    1
1948    1
1950    3
1951    2
1952    1
1953    1
Name: registration_year, dtype: int64

In [46]:
autos.registration_year.value_counts().sort_index(ascending = False).head(20)

9999       4
9996       1
9000       2
8888       1
6200       1
5911       1
5000       4
4800       1
4500       1
4100       1
2800       1
2019       3
2018     491
2017    1452
2016    1316
2015     399
2014     665
2013     806
2012    1323
2011    1634
Name: registration_year, dtype: int64

Looking at the cells above it is clear that the only viable years in the column are those between 1910 & 2019 as cars werent registered in 1800 and the dates after 2019 are futuristic. Thus we can safely drop these columns.

In [47]:
print(autos.shape)
autos = autos.loc[autos['registration_year'].between(1900, 2020), :]
print(autos.shape)

(49986, 17)
(49962, 17)

In [48]:
autos.registration_year.value_counts(normalize=True).sort_index()

1910    0.000180
1927    0.000020
1929    0.000020
1931    0.000020
1934    0.000040
          ...
2015    0.007986
2016    0.026340
2017    0.029062
2018    0.009827
2019    0.000060
Name: registration_year, Length: 81, dtype: float64

In [49]:
autos[autos.registration_year == 2019]

,date_crawled,name,price,ab_test,vehicle_type,registration_year,gear_box,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen
5763,2016-03-05 19:54:49,Suche_Auspuff_Anlage_honda_crx_del_sol,100,test,NaN,2019,manuell,125,cr_reihe,20000,4,NaN,honda,nein,2016-03-05 00:00:00,18106,2016-03-06 04:45:59
38342,2016-03-07 18:52:22,Suche_Auto_fuer_die_jagd_zum_tauschen,0,control,NaN,2019,NaN,0,NaN,150000,0,NaN,sonstige_autos,NaN,2016-03-07 00:00:00,18510,2016-04-06 13:17:20
49185,2016-03-28 11:45:31,Alfa_Romeo_156_Sportwagon_1_8_T_Spark,1200,control,NaN,2019,manuell,140,156,150000,5,benzin,alfa_romeo,nein,2016-03-28 00:00:00,91058,2016-04-06 13:45:56

Examining the dataframe above closely it is clear that some error still remains. The data was crawled in 2016 and the ad was created in 2016 and the ad was last seen in 2016,thus, it is impossible that any car in the dataframe could be registered in 2019(future). In light of this, the maximum acceptable registration year should be 2016.

In [50]:
print(autos.shape)
autos = autos.loc[autos['registration_year'].between(1900, 2016), :]
print(autos.shape)

(49962, 17)
(48016, 17)

## FInding Top Car Brands

In [51]:
autos['brand'].value_counts()

volkswagen        10185
bmw                5283
opel               5194
mercedes_benz      4579
audi               4149
ford               3350
renault            2274
peugeot            1418
fiat               1242
seat                873
skoda               770
mazda               727
nissan              725
citroen             668
smart               668
toyota              599
sonstige_autos      523
hyundai             473
volvo               444
mini                415
mitsubishi          391
honda               377
kia                 341
alfa_romeo          318
porsche             293
suzuki              284
chevrolet           274
chrysler            176
dacia               123
daihatsu            123
jeep                108
subaru              105
land_rover           98
saab                 77
jaguar               76
trabant              75
daewoo               72
rover                65
lancia               52
lada                 29
Name: brand, dtype: int64

In [52]:
autos['brand'].value_counts(normalize=True)

volkswagen        0.212117
bmw               0.110026
opel              0.108172
mercedes_benz     0.095364
audi              0.086409
ford              0.069768
renault           0.047359
peugeot           0.029532
fiat              0.025866
seat              0.018181
skoda             0.016036
mazda             0.015141
nissan            0.015099
citroen           0.013912
smart             0.013912
toyota            0.012475
sonstige_autos    0.010892
hyundai           0.009851
volvo             0.009247
mini              0.008643
mitsubishi        0.008143
honda             0.007852
kia               0.007102
alfa_romeo        0.006623
porsche           0.006102
suzuki            0.005915
chevrolet         0.005706
chrysler          0.003665
dacia             0.002562
daihatsu          0.002562
jeep              0.002249
subaru            0.002187
land_rover        0.002041
saab              0.001604
jaguar            0.001583
trabant           0.001562
daewoo            0.001500
rover             0.001354
lancia            0.001083
lada              0.000604
Name: brand, dtype: float64

## Creating Additional Columns

Let us now create additional columns that will be useful going forward such as:

- Approximate age of each vehicle

This willbe useful when we want to get information aggregated by the brand of each car.

In [53]:
autos['age']=2016-autos['registration_year']
autos.head(2)

,date_crawled,name,price,ab_test,vehicle_type,registration_year,gear_box,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen,age
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,79588,2016-04-06 06:45:54,12
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04 00:00:00,71034,2016-04-06 14:45:08,19

## Finding the Average Values

In [54]:
# Creating empty dictionaries to store brand based mean values

brand_price_dict={}
brand_distance_dict={}
brand_age_dict={}

#Selecting all unique values of brand names
brand_names= autos['brand'].unique()


# for loop to calculate the mean value of selected columns.
for brand_name in brand_names:
    
    #finding mean value    
    mean_price= autos.loc[autos['brand']==brand_name,'price'].mean()            # mean value of price column
    mean_distance=autos.loc[autos['brand']==brand_name,'odometer_km'].mean()        # mean value of odometer column
    mean_age=autos.loc[autos['brand']==brand_name,'age'].mean()                       # mean value of age column
       # mean of time to sell int column
    
    #adding to the dictionary    
    brand_price_dict[brand_name] = int(mean_price)
    brand_distance_dict[brand_name] = int(mean_distance)
    brand_age_dict[brand_name] = int(mean_age)

In [55]:
# Converting dictionary into pandas series for easier analysis

brand_mean_price_series = pd.Series(brand_price_dict)
brand_mean_distance_series = pd.Series(brand_distance_dict)
brand_mean_age_series = pd.Series(brand_age_dict)

# Creating a new dataframe with brand and its corresponding mean values
brand_data = pd.DataFrame(brand_mean_price_series,columns=['mean_price'])

# adding more columns to the newly created dataframe
brand_data['mean_distance'] = brand_mean_distance_series
brand_data['mean_age'] = brand_mean_age_series
brand_data['total_percentage']=autos['brand'].value_counts(normalize=True)*100


brand_data.head(10).sort_values('total_percentage', ascending=False)

               mean_price  mean_distance  mean_age  total_percentage
volkswagen           5231         128724        13         21.211679
bmw                  8102         132431        13         11.002582
mercedes_benz        8485         130856        14          9.536405
audi                 9093         129287        11          8.640870
ford                 3652         124068        13          6.976841
renault              2395         128183        13          4.735921
peugeot              3039         127136        12          2.953182
seat                 4296         121563        11          1.818144
smart                3542          99595        10          1.391203
chrysler             3229         133181        15          0.366544

## Incomplete

- Identify categorical data that uses german words, translate them and map the values to their english counterparts
- Convert the dates to be uniform numeric data, so "2016-03-21" becomes the integer 20160321.
- See if there are particular keywords in the name column that you can extract as new columns
- Find the most common brand/model combinations
- Split the odometer_km into groups, and use aggregation to see if average prices follows any patterns based on the mileage.
- How much cheaper are cars with damage than their non-damaged counterparts?